.bg-red-web{

    background-color:#F41C1C;

}

.contact-red-bg{

    height:200px;

}

.custom-bg {
    padding: 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 1px darkgrey;
    /*position: absolute;
    top: -106px;*/
    width: 85%;
    margin: -9% auto 12%;
}

section.red_bg {

    background: #f41c1c;

    height: 220px;

}

section#contact_ppm {

    min-height: 70vh;
}


/**-- How Can PPM Work --**/
h2.title {
    font-weight: 600;
}
.highlight {
    color: #f41c1c;
}
.grey-bg {
    background: #eaeaea;
}
.border-15 {
    border-radius: 15px;
}
.mobile-footer p {
    margin-bottom: 0;
    text-transform: uppercase;
}
.menu-link {
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 980px) {
.custom-bg {
    width: 90%;
    margin: -14% auto 12%;
}}

@media only screen and (max-width: 480px) {
.custom-bg {
    width: 100%;
    margin: -25% auto 12%;
}}